@media only screen and (max-width: 640px) {
  .blurb {
    text-align: justify;
  }

  img {
    height: 370px;
    width: 370px;
    /* center it */
  }
  
  h1 {
    color: lightpink;
  }
  
  h2 {
    color: mediumaquamarine;
    font-size: 1.3em;
  }
  
span {
    color: rgb(220, 169, 41);
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 640px) {


  img {
    height: 370px;
    width: 370px;
    padding-left: 150px;
  }
  
  h1 {
    color: lightpink;
    padding-left: 700px;
    padding-top: 0px;
  }
  
  h2 {
    color: mediumaquamarine;
    font-size: 1.3em;
  }
  
span {
    color: rgb(220, 169, 41);
    font-size: 1.1em;
  }
}
