/* Mobile View */
@media screen and (max-width: 470px) {
  .landingContainer .landingLeft img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .landingRight h1 {
    color: lightpink;
    text-align: center;
    font-size: 35px;
  }

  .landingRight h2, .landingContainer span {
    display: inline-block;
    text-align: left;
    font-size: 24px;
  }

  .landingRight h2 {
    padding: 0 10px 90px 10px;
    color: #7fffd4;
    margin: 5px 0 0 0;
  }

  .landingRight span {
    color: rgb(220, 169, 41);
  }
}

@media screen and (min-width: 480px) {
  .landingLeft {
    float: left;
    width: 50%;
  }

  .landingLeft img {
    display: inline-block;
    width: 60%;
    padding: 22% 20% 28% 28%;
  }

  .landingRight {
    float: right;
    width: 50%;
    padding: 12% 0px 18% 0;
  }

  .landingRight h1 {
    color: lightpink;
    font-size: 30px;
    width: 70%;
  }

  .landingRight h2 {
    color: #7fffd4;
    font-size: 20px;
    width: 70%;
  }

  .landingRight h2 span {
    color: rgb(220, 169, 41);
    font-size: 15px;
  }
}