/* MOBILE  */

@media only screen and (max-width: 640px) {  
  .pic {
    height: 370px;
    width: 370px;
  }
  
 .pic img {
  position: absolute;
	max-width: 80%;
	top: 5%;
	left: 10%;
 }

  h1 {
    color: lightpink;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .blurb h2 {
    color: mediumaquamarine;
    font-size: 1.3em;
    margin: 0;
    padding: 10px;
    text-align: justify;
  }
  
span {
    color: rgb(220, 169, 41);
    font-size: 1.1em;
  }

  .blurb a {
    margin: 0;
    padding: 10px;
  }
}

 /* BROWSER  */

@media only screen and (min-width: 640px) {
 
  .pic img {
    position: relative;
    left: 200px;
    top: 150px;
    height: 28%;
    width: 28%;
  } 

  .blurb {
    height: 650px;
    width: 600px;
    margin-left: 600px;
    margin-top: -180px;
  }

  .blurb h1 {
    color: lightpink;
    position: relative;
    /* margin: 30px; */
    /* padding: 20px; */
  }

  .blurb h2 {
    color: mediumaquamarine;
    position: relative;
  }

  .blurb span {
    color: #dca929;
  }

  .blurb a {
    margin: 0;
    padding: 10px;
  }

  a :hover {
    color: rgb(158, 113, 165);
  }

}
