/* mobile view */
@media screen and (max-width: 480px) {
  .content img {
    width: 100%;
  }

  .column {
    border-style: double;
    color:lightpink;
    margin: 15px;
  }

  .main h1 {
    color: rgb(220, 169, 41);
    font-size: 45px;
    text-align: center;
  }

  .content h3 {
    color: aquamarine;
    font-size: 30px;
    margin: 5px;
    padding-left: 17px;
  }

  .content p {
    color: white;
    padding: 0 0px 10px 20px;
  }

  .content #lastP {
    padding-bottom: 70px;
  }
}

@media screen and (min-width: 481px) {
  .main h1 {
    color: rgb(220, 169, 41);
    margin: 10px;
    padding-left: 17px;
    font-size: 45px;
  }

  .column {
    width: 20%;
    float: left;
    margin: 2%;
  }

  .main img {
    width: 100%;
  }

  .main h3, .main p {
    width: 100%;
    font-size: 20px;
  }

  .main h3 {
    text-align: center;
    color: rgb(220, 169, 41);
  }

  .main p {
    color: mediumaquamarine;
    padding: 5px 5px 50px 5px;
  }
}
