html, body {
  background-color: rgb(15, 22, 15);
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a :hover {
  color: lightpink;
}

nav {
  text-align: right;
}

li {
  display: inline-block;
  margin: 15px;
}