html, body {
  background-color: rgb(15, 22, 15);
  font-family: 'Source Code Pro', monospace;
}

a {
  color: lightblue;
  text-decoration: none;
}

ul :hover {
  color: rgb(158, 113, 165);
}

nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(26, 36, 26);
  text-align: center;
}

li {
  display: inline-block;
  margin: 15px;
  font-size: 1.7em;
}

li :hover {
  color: rgb(158, 113, 165);
}