@media only screen and (max-width: 640px) {
  .contactBlurb {
    padding-top: 40%;
  }

  .contactBlurb h1 {
    font-size: 2.5em;
    text-align: center;
  }

  .contactBlurb h2 {
    color: mediumaquamarine;
    padding: 10px;
    padding-left: 10%;
  }

}

@media only screen and (min-width: 640px) {
.contactBlurb {
  color: lightpink;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 60%;
  }

  .contactBlurb h2 {
    color: #dca929;
  }
}


