@media only screen and (max-width: 640px) {
  .contactBlurb {
    padding-top: 40%;
    width: 100%;
  }

  .firstSentence {
    color: mediumaquamarine;
    font-size: 30px;
  }

  .email {
    color: rgb(220, 169, 41);
    font-size: 25px;
  }

  .socials {
    text-align: center;
    font-size: 25px;
  }

  .socials ul a {
    color: lightblue;
  }

  .socials ul a:hover {
    color: rgb(158, 113, 165);
  }

  .socials ul {
    padding: 0;
    align-content: center;
  }
}

@media only screen and (min-width: 640px) {
  .contactBlurb {
    width: 100%;
    padding-top: 20%;
    font-size: 40px;
  }

  .contactBlurb .email {
    color: rgb(220, 169, 41);
  }

  .socials {
    width: 100%;
    text-align: center;
    font-size: 35px;
  }
  
  .socials ul a:hover {
    color: rgb(158, 113, 165);
  }
}
