
.footer nav {
  background-color: rgb(26, 36, 26);
  list-style: none;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  color: lightblue;
}


.footer a:hover {
  color: rgb(158, 113, 165);
}
