
.footer nav {
  background-color: rgb(26, 36, 26);
  /* color: lightblue; */
  list-style-type: none;
  font-size: 1.5rem;
  position: fixed;
  height: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 959px) {
  .footer nav, li {
    width: 100%;
    font-weight: 1.5rem;
  }
}

@media screen and (max-width: 640px) {
  .footer nav, li {
    width: 100%;
    font-weight: 1rem;
    /* display: inline-block; */

  }
}

@media screen and (max-width: 320px) {
  .footer nav, li {
    width: 100%;
    font-weight: .5rem;
    /* display: inline-block; */
  }
}
