.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer nav, li {
  background-color: rgb(26, 36, 26);
  color: lightblue;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 20px;
}

@media screen and (max-width: 959px) {
  .footer nav, li {
    width: 100%;
    display: inline-block;

  }
}

@media screen and (max-width: 640px) {
  .footer nav, li {
    width: 100%;
    display: inline-block;

  }
}

@media screen and (max-width: 320px) {
  .footer nav, li {
    width: 100%;
    display: inline-block;
  }
}
