
html, body {
  font-family: 'Helvetica';
  font-weight: bold;
  background-color:  hsl(0, 0%, 100%);
/* might delete the below */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column; */
}